--
-- PostgreSQL database dump
--

\restrict 7PQ0wK1t4AWxp3cq16roqEpoRhTbV5N91tSE9cxUj3AD0hmBhmOEQEK9K1dVpzt

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auth; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA auth;


--
-- Name: extensions; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA extensions;


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA extensions;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: metodo_matching; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.metodo_matching AS ENUM (
    'DETERMINISTICO',
    'RAG',
    'MANUAL'
);


--
-- Name: status_conciliacao; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_conciliacao AS ENUM (
    'PENDENTE',
    'CONCILIADO_OK',
    'ALERTA_DOCUMENTO_FALTANTE',
    'ALERTA_DIVERGENCIA_VALOR',
    'ALERTA_PJ_INTERMEDIARIA',
    'REVISAO_PENDENTE'
);


--
-- Name: status_movimento; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_movimento AS ENUM (
    'PENDENTE',
    'CONCILIADO',
    'DIVERGENTE',
    'IGNORADO'
);


--
-- Name: status_regularizacao; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_regularizacao AS ENUM (
    'PENDENTE_GERACAO',
    'AGUARDANDO_ASSINATURA',
    'ASSINADO',
    'CANCELADO'
);


--
-- Name: status_revisao; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.status_revisao AS ENUM (
    'PENDENTE',
    'CONFIRMADO',
    'CORRIGIDO',
    'DESCARTADO'
);


--
-- Name: tipo_documento; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipo_documento AS ENUM (
    'NFE',
    'COMPROVANTE_PAGAMENTO',
    'COMPROVANTE_RETENCAO',
    'RECIBO',
    'CONTRATO',
    'GRU',
    'OUTRO'
);


--
-- Name: tipo_movimento; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.tipo_movimento AS ENUM (
    'CREDITO_CAPTACAO',
    'RENDIMENTO',
    'DEBITO_PAGAMENTO',
    'TARIFA',
    'DEVOLUCAO',
    'OUTRO'
);


--
-- Name: uid(); Type: FUNCTION; Schema: auth; Owner: -
--

CREATE FUNCTION auth.uid() RETURNS uuid
    LANGUAGE sql STABLE
    AS $$
        select (nullif(current_setting('request.jwt.claims', true), '')::json ->> 'sub')::uuid
      $$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: projetos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projetos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    pronac text NOT NULL,
    nome text NOT NULL,
    proponente text,
    controller text,
    banco text,
    data_inicio date,
    data_fim date,
    resumo_pendencias jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    valor_captado numeric(14,2),
    orcamento_aprovado numeric(15,2)
);


--
-- Name: COLUMN projetos.valor_captado; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.projetos.valor_captado IS 'Valor total efetivamente captado (depósito do patrocinador) -- confirmado manualmente contra a planilha/extrato oficial do projeto, não somado automaticamente.';


--
-- Name: criar_projeto_com_membro(text, text, text, text, text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.criar_projeto_com_membro(p_pronac text, p_nome text, p_proponente text, p_controller text, p_banco text) RETURNS public.projetos
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
declare
  v_projeto     projetos;
  v_existing_id uuid;
begin
  -- Se o pronac já existe, só devolvemos o projeto pra quem já é membro
  -- (idempotência do lado de quem criou). Pra qualquer outro authenticated,
  -- isso seria um upsert "silencioso" que renomeia um projeto alheio e
  -- auto-promove o chamador a admin dele — bloqueado aqui.
  select id into v_existing_id from projetos where pronac = p_pronac;

  if v_existing_id is not null then
    if not exists (
      select 1 from membros_projeto
      where projeto_id = v_existing_id and user_id = auth.uid()
    ) then
      raise exception 'pronac % já pertence a outro projeto', p_pronac
        using errcode = 'unique_violation';
    end if;

    select * into v_projeto from projetos where id = v_existing_id;
    return v_projeto;
  end if;

  insert into projetos (pronac, nome, proponente, controller, banco)
  values (p_pronac, p_nome, p_proponente, p_controller, p_banco)
  returning * into v_projeto;

  insert into membros_projeto (projeto_id, user_id, papel)
  values (v_projeto.id, auth.uid(), 'admin')
  on conflict (projeto_id, user_id) do nothing;

  return v_projeto;
exception
  when unique_violation then
    -- corrida: outra sessão inseriu o mesmo pronac entre o SELECT e o INSERT acima
    raise exception 'pronac % já pertence a outro projeto', p_pronac
      using errcode = 'unique_violation';
end;
$$;


--
-- Name: pode_acessar_projeto(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.pode_acessar_projeto(p_projeto_id uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  select exists (
    select 1 from membros_projeto m
    where m.projeto_id = p_projeto_id and m.user_id = auth.uid()
  );
$$;


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin new.updated_at := now(); return new; end $$;


--
-- Name: users; Type: TABLE; Schema: auth; Owner: -
--

CREATE TABLE auth.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: campos_revisao; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.campos_revisao (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    documento_id uuid,
    transacao_id uuid,
    despesa_id uuid,
    campo text NOT NULL,
    valor_extraido text,
    confianca numeric(4,3) NOT NULL,
    origem jsonb,
    status_revisao public.status_revisao DEFAULT 'PENDENTE'::public.status_revisao NOT NULL,
    valor_corrigido text,
    revisado_por text,
    revisado_em timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_revisao_alvo CHECK ((num_nonnulls(documento_id, transacao_id, despesa_id) >= 1))
);


--
-- Name: conciliacao_extrato; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.conciliacao_extrato (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    movimento_id uuid NOT NULL,
    transacao_id uuid,
    despesa_id uuid,
    metodo public.metodo_matching,
    score numeric(4,3),
    conciliado_por text,
    conciliado_em timestamp with time zone
);


--
-- Name: contas_captadoras; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contas_captadoras (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    banco text,
    agencia text,
    conta text,
    saldo_inicial numeric(15,2) DEFAULT 0 NOT NULL,
    saldo_final numeric(15,2),
    encerrada boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: despesas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.despesas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transacao_id uuid NOT NULL,
    projeto_id uuid NOT NULL,
    etapa_id uuid,
    rubrica_id uuid,
    descricao text,
    valor numeric(15,2),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: documentos_projeto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documentos_projeto (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    origem text DEFAULT 'upload'::text NOT NULL,
    nome_arquivo text,
    arquivo_ref text,
    tamanho_bytes bigint,
    status text DEFAULT 'pendente'::text NOT NULL,
    criado_por uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_documentos_projeto_origem CHECK ((origem = ANY (ARRAY['upload'::text, 'google_drive'::text])))
);


--
-- Name: documentos_transacao; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documentos_transacao (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transacao_id uuid NOT NULL,
    tipo public.tipo_documento NOT NULL,
    arquivo_ref text,
    arquivo_hash text,
    ocr_texto text,
    ocr_dados jsonb,
    confianca_ocr numeric(4,3),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: etapas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.etapas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    numero integer,
    nome text NOT NULL,
    data_inicio date,
    data_fim date,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: extrato_movimentos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.extrato_movimentos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    conta_id uuid NOT NULL,
    data date NOT NULL,
    historico text,
    documento text,
    tipo public.tipo_movimento,
    valor numeric(15,2) NOT NULL,
    saldo_apos numeric(15,2),
    status_conciliacao public.status_movimento DEFAULT 'PENDENTE'::public.status_movimento NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: importacoes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.importacoes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    criado_por uuid,
    status text DEFAULT 'iniciando'::text NOT NULL,
    modo text DEFAULT 'dry_run'::text NOT NULL,
    linhas_total integer,
    linhas_processadas integer DEFAULT 0 NOT NULL,
    linhas_ok integer DEFAULT 0 NOT NULL,
    linhas_erro integer DEFAULT 0 NOT NULL,
    linhas_alerta integer DEFAULT 0 NOT NULL,
    arquivo_json jsonb,
    relatorio jsonb,
    mensagem text,
    erro_fatal text,
    tempo_inicio timestamp with time zone DEFAULT now() NOT NULL,
    tempo_fim timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: log_matching; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.log_matching (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transacao_id uuid,
    despesa_id uuid,
    movimento_id uuid,
    metodo public.metodo_matching NOT NULL,
    status public.status_conciliacao,
    score numeric(4,3),
    observacao text,
    detalhes jsonb,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_log_alvo CHECK (((transacao_id IS NOT NULL) OR (despesa_id IS NOT NULL) OR (movimento_id IS NOT NULL)))
);


--
-- Name: membros_projeto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.membros_projeto (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    user_id uuid NOT NULL,
    papel text DEFAULT 'membro'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: orquestrador_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orquestrador_jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tipo text NOT NULL,
    projeto_id text,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    status text DEFAULT 'em_progresso'::text NOT NULL,
    resultado jsonb,
    erro text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE orquestrador_jobs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.orquestrador_jobs IS 'Registro de execuções async do orquestrador Phidata (fluxo-completo). Sem RLS: escrita feita fora do contexto JWT da request, pelo background task.';


--
-- Name: planilha_revisada; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.planilha_revisada (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    linha integer NOT NULL,
    controle text,
    prestador text,
    razao_social text,
    data date,
    valor numeric(15,2),
    rubrica text,
    documento_fiscal text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: regularizacoes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.regularizacoes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    transacao_id uuid NOT NULL,
    status public.status_regularizacao DEFAULT 'PENDENTE_GERACAO'::public.status_regularizacao NOT NULL,
    observacao text,
    solicitado_por uuid,
    enviado_em timestamp with time zone,
    assinado_em timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rubricas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rubricas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    codigo text NOT NULL,
    descricao text NOT NULL,
    descricao_completa text,
    valor_orcado numeric(15,2),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.schema_migrations (
    id text NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: transacoes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transacoes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    projeto_id uuid NOT NULL,
    etapa_id uuid,
    fornecedor text,
    documento text,
    data_pagamento date,
    meio_pagamento text,
    valor_bruto numeric(15,2),
    valor_retencao numeric(15,2) DEFAULT 0 NOT NULL,
    valor_liquido numeric(15,2),
    tem_nf boolean,
    tem_comprovante boolean,
    status public.status_conciliacao DEFAULT 'PENDENTE'::public.status_conciliacao NOT NULL,
    score_conciliacao numeric(4,3),
    salic_ref text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    razao_social text,
    prestador text,
    tipo_pessoa text,
    CONSTRAINT transacoes_tipo_pessoa_check CHECK ((tipo_pessoa = ANY (ARRAY['PF'::text, 'PJ'::text])))
);


--
-- Name: COLUMN transacoes.razao_social; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.transacoes.razao_social IS 'Razão social de quem efetivamente recebeu o pagamento (pode ser PJ mesmo quando o prestador é PF).';


--
-- Name: COLUMN transacoes.prestador; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.transacoes.prestador IS 'Pessoa física que executou o serviço — quem assina o recibo. Vem da coluna PRESTADOR DE SERVIÇO da planilha; NÃO inferir de nome de arquivo.';


--
-- Name: COLUMN transacoes.tipo_pessoa; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.transacoes.tipo_pessoa IS 'PF ou PJ, derivado do documento (11 dígitos = CPF, 14 = CNPJ).';


--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.users (id, email, created_at) FROM stdin;
840b3bf2-9520-423b-95cd-0c2557eef1db	demo_840b3bf2-9520-423b-95cd-0c2557eef1db@rouanet.local	2026-08-19 09:15:38.622171+00
\.


--
-- Data for Name: campos_revisao; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.campos_revisao (id, documento_id, transacao_id, despesa_id, campo, valor_extraido, confianca, origem, status_revisao, valor_corrigido, revisado_por, revisado_em, created_at) FROM stdin;
\.


--
-- Data for Name: conciliacao_extrato; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.conciliacao_extrato (id, movimento_id, transacao_id, despesa_id, metodo, score, conciliado_por, conciliado_em) FROM stdin;
\.


--
-- Data for Name: contas_captadoras; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.contas_captadoras (id, projeto_id, banco, agencia, conta, saldo_inicial, saldo_final, encerrada, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: despesas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.despesas (id, transacao_id, projeto_id, etapa_id, rubrica_id, descricao, valor, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: documentos_projeto; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documentos_projeto (id, projeto_id, origem, nome_arquivo, arquivo_ref, tamanho_bytes, status, criado_por, created_at) FROM stdin;
\.


--
-- Data for Name: documentos_transacao; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documentos_transacao (id, transacao_id, tipo, arquivo_ref, arquivo_hash, ocr_texto, ocr_dados, confianca_ocr, created_at) FROM stdin;
\.


--
-- Data for Name: etapas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.etapas (id, projeto_id, numero, nome, data_inicio, data_fim, created_at) FROM stdin;
\.


--
-- Data for Name: extrato_movimentos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.extrato_movimentos (id, conta_id, data, historico, documento, tipo, valor, saldo_apos, status_conciliacao, created_at) FROM stdin;
\.


--
-- Data for Name: importacoes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.importacoes (id, projeto_id, criado_por, status, modo, linhas_total, linhas_processadas, linhas_ok, linhas_erro, linhas_alerta, arquivo_json, relatorio, mensagem, erro_fatal, tempo_inicio, tempo_fim, created_at) FROM stdin;
\.


--
-- Data for Name: log_matching; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.log_matching (id, transacao_id, despesa_id, movimento_id, metodo, status, score, observacao, detalhes, criado_em) FROM stdin;
\.


--
-- Data for Name: membros_projeto; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.membros_projeto (id, projeto_id, user_id, papel, created_at) FROM stdin;
908df809-a209-498b-8bf8-04801703a429	19611961-0000-0000-0000-000000001961	840b3bf2-9520-423b-95cd-0c2557eef1db	admin	2026-08-19 09:15:38.629935+00
\.


--
-- Data for Name: orquestrador_jobs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.orquestrador_jobs (id, tipo, projeto_id, payload, status, resultado, erro, criado_em, atualizado_em) FROM stdin;
\.


--
-- Data for Name: planilha_revisada; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.planilha_revisada (id, projeto_id, linha, controle, prestador, razao_social, data, valor, rubrica, documento_fiscal, criado_em) FROM stdin;
\.


--
-- Data for Name: projetos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.projetos (id, pronac, nome, proponente, controller, banco, data_inicio, data_fim, resumo_pendencias, created_at, updated_at, valor_captado, orcamento_aprovado) FROM stdin;
19611961-0000-0000-0000-000000001961	19-1961/FSA-BRDE	1961 (Longa-Metragem Documental - ANCINE/FSA)	Circunst??ncia Produ????es / Amir Labaki	M??nica Guimar??es	Banco do Brasil (001)	2022-10-01	2025-12-31	\N	2026-08-19 09:15:38.626108+00	2026-08-19 09:15:38.626108+00	835000.00	835000.00
\.


--
-- Data for Name: regularizacoes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.regularizacoes (id, transacao_id, status, observacao, solicitado_por, enviado_em, assinado_em, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: rubricas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: transacoes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: auth; Owner: -
--

ALTER TABLE ONLY auth.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: auth; Owner: -
--

ALTER TABLE ONLY auth.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: campos_revisao campos_revisao_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campos_revisao
    ADD CONSTRAINT campos_revisao_pkey PRIMARY KEY (id);


--
-- Name: conciliacao_extrato conciliacao_extrato_movimento_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conciliacao_extrato
    ADD CONSTRAINT conciliacao_extrato_movimento_id_key UNIQUE (movimento_id);


--
-- Name: conciliacao_extrato conciliacao_extrato_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conciliacao_extrato
    ADD CONSTRAINT conciliacao_extrato_pkey PRIMARY KEY (id);


--
-- Name: contas_captadoras contas_captadoras_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contas_captadoras
    ADD CONSTRAINT contas_captadoras_pkey PRIMARY KEY (id);


--
-- Name: contas_captadoras contas_captadoras_projeto_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contas_captadoras
    ADD CONSTRAINT contas_captadoras_projeto_id_key UNIQUE (projeto_id);


--
-- Name: despesas despesas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_pkey PRIMARY KEY (id);


--
-- Name: documentos_projeto documentos_projeto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_projeto
    ADD CONSTRAINT documentos_projeto_pkey PRIMARY KEY (id);


--
-- Name: documentos_transacao documentos_transacao_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_transacao
    ADD CONSTRAINT documentos_transacao_pkey PRIMARY KEY (id);


--
-- Name: etapas etapas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etapas
    ADD CONSTRAINT etapas_pkey PRIMARY KEY (id);


--
-- Name: etapas etapas_projeto_id_numero_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etapas
    ADD CONSTRAINT etapas_projeto_id_numero_key UNIQUE (projeto_id, numero);


--
-- Name: extrato_movimentos extrato_movimentos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.extrato_movimentos
    ADD CONSTRAINT extrato_movimentos_pkey PRIMARY KEY (id);


--
-- Name: importacoes importacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.importacoes
    ADD CONSTRAINT importacoes_pkey PRIMARY KEY (id);


--
-- Name: log_matching log_matching_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_matching
    ADD CONSTRAINT log_matching_pkey PRIMARY KEY (id);


--
-- Name: membros_projeto membros_projeto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membros_projeto
    ADD CONSTRAINT membros_projeto_pkey PRIMARY KEY (id);


--
-- Name: membros_projeto membros_projeto_projeto_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membros_projeto
    ADD CONSTRAINT membros_projeto_projeto_id_user_id_key UNIQUE (projeto_id, user_id);


--
-- Name: orquestrador_jobs orquestrador_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orquestrador_jobs
    ADD CONSTRAINT orquestrador_jobs_pkey PRIMARY KEY (id);


--
-- Name: planilha_revisada planilha_revisada_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planilha_revisada
    ADD CONSTRAINT planilha_revisada_pkey PRIMARY KEY (id);


--
-- Name: planilha_revisada planilha_revisada_projeto_id_linha_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planilha_revisada
    ADD CONSTRAINT planilha_revisada_projeto_id_linha_key UNIQUE (projeto_id, linha);


--
-- Name: projetos projetos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projetos
    ADD CONSTRAINT projetos_pkey PRIMARY KEY (id);


--
-- Name: projetos projetos_pronac_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projetos
    ADD CONSTRAINT projetos_pronac_key UNIQUE (pronac);


--
-- Name: regularizacoes regularizacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regularizacoes
    ADD CONSTRAINT regularizacoes_pkey PRIMARY KEY (id);


--
-- Name: regularizacoes regularizacoes_transacao_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regularizacoes
    ADD CONSTRAINT regularizacoes_transacao_id_key UNIQUE (transacao_id);


--
-- Name: rubricas rubricas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rubricas
    ADD CONSTRAINT rubricas_pkey PRIMARY KEY (id);


--
-- Name: rubricas rubricas_projeto_id_codigo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rubricas
    ADD CONSTRAINT rubricas_projeto_id_codigo_key UNIQUE (projeto_id, codigo);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: transacoes transacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_pkey PRIMARY KEY (id);


--
-- Name: extrato_movimentos uq_movimento_idem; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.extrato_movimentos
    ADD CONSTRAINT uq_movimento_idem UNIQUE (conta_id, data, documento, valor);


--
-- Name: ix_despesas_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_despesas_projeto ON public.despesas USING btree (projeto_id);


--
-- Name: ix_despesas_rubrica; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_despesas_rubrica ON public.despesas USING btree (rubrica_id);


--
-- Name: ix_despesas_transacao; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_despesas_transacao ON public.despesas USING btree (transacao_id);


--
-- Name: ix_docs_transacao; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_docs_transacao ON public.documentos_transacao USING btree (transacao_id);


--
-- Name: ix_documentos_projeto_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documentos_projeto_projeto ON public.documentos_projeto USING btree (projeto_id);


--
-- Name: ix_documentos_projeto_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documentos_projeto_status ON public.documentos_projeto USING btree (status);


--
-- Name: ix_etapas_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_etapas_projeto ON public.etapas USING btree (projeto_id);


--
-- Name: ix_importacoes_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_importacoes_projeto ON public.importacoes USING btree (projeto_id);


--
-- Name: ix_importacoes_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_importacoes_status ON public.importacoes USING btree (status);


--
-- Name: ix_log_transacao; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_log_transacao ON public.log_matching USING btree (transacao_id);


--
-- Name: ix_membros_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_membros_projeto ON public.membros_projeto USING btree (projeto_id);


--
-- Name: ix_membros_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_membros_user ON public.membros_projeto USING btree (user_id);


--
-- Name: ix_mov_conta; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_mov_conta ON public.extrato_movimentos USING btree (conta_id);


--
-- Name: ix_planilha_revisada_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_planilha_revisada_projeto ON public.planilha_revisada USING btree (projeto_id);


--
-- Name: ix_regularizacoes_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_regularizacoes_status ON public.regularizacoes USING btree (status);


--
-- Name: ix_regularizacoes_transacao; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_regularizacoes_transacao ON public.regularizacoes USING btree (transacao_id);


--
-- Name: ix_revisao_pendente; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_revisao_pendente ON public.campos_revisao USING btree (status_revisao) WHERE (status_revisao = 'PENDENTE'::public.status_revisao);


--
-- Name: ix_rubricas_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_rubricas_projeto ON public.rubricas USING btree (projeto_id);


--
-- Name: ix_transacoes_projeto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_transacoes_projeto ON public.transacoes USING btree (projeto_id);


--
-- Name: ix_transacoes_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_transacoes_status ON public.transacoes USING btree (status);


--
-- Name: orquestrador_jobs_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX orquestrador_jobs_status_idx ON public.orquestrador_jobs USING btree (status, criado_em DESC);


--
-- Name: transacoes_ordem_canonica_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX transacoes_ordem_canonica_idx ON public.transacoes USING btree (projeto_id, data_pagamento, created_at, id);


--
-- Name: contas_captadoras trg_contas_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_contas_upd BEFORE UPDATE ON public.contas_captadoras FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: despesas trg_despesas_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_despesas_upd BEFORE UPDATE ON public.despesas FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: projetos trg_projetos_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_projetos_upd BEFORE UPDATE ON public.projetos FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: regularizacoes trg_regularizacoes_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_regularizacoes_upd BEFORE UPDATE ON public.regularizacoes FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: rubricas trg_rubricas_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_rubricas_upd BEFORE UPDATE ON public.rubricas FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: transacoes trg_transacoes_upd; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_transacoes_upd BEFORE UPDATE ON public.transacoes FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: campos_revisao campos_revisao_despesa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campos_revisao
    ADD CONSTRAINT campos_revisao_despesa_id_fkey FOREIGN KEY (despesa_id) REFERENCES public.despesas(id) ON DELETE CASCADE;


--
-- Name: campos_revisao campos_revisao_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campos_revisao
    ADD CONSTRAINT campos_revisao_documento_id_fkey FOREIGN KEY (documento_id) REFERENCES public.documentos_transacao(id) ON DELETE CASCADE;


--
-- Name: campos_revisao campos_revisao_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.campos_revisao
    ADD CONSTRAINT campos_revisao_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id) ON DELETE CASCADE;


--
-- Name: conciliacao_extrato conciliacao_extrato_despesa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conciliacao_extrato
    ADD CONSTRAINT conciliacao_extrato_despesa_id_fkey FOREIGN KEY (despesa_id) REFERENCES public.despesas(id);


--
-- Name: conciliacao_extrato conciliacao_extrato_movimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conciliacao_extrato
    ADD CONSTRAINT conciliacao_extrato_movimento_id_fkey FOREIGN KEY (movimento_id) REFERENCES public.extrato_movimentos(id) ON DELETE CASCADE;


--
-- Name: conciliacao_extrato conciliacao_extrato_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conciliacao_extrato
    ADD CONSTRAINT conciliacao_extrato_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id);


--
-- Name: contas_captadoras contas_captadoras_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contas_captadoras
    ADD CONSTRAINT contas_captadoras_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: despesas despesas_etapa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_etapa_id_fkey FOREIGN KEY (etapa_id) REFERENCES public.etapas(id);


--
-- Name: despesas despesas_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: despesas despesas_rubrica_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_rubrica_id_fkey FOREIGN KEY (rubrica_id) REFERENCES public.rubricas(id);


--
-- Name: despesas despesas_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id) ON DELETE CASCADE;


--
-- Name: documentos_projeto documentos_projeto_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_projeto
    ADD CONSTRAINT documentos_projeto_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES auth.users(id);


--
-- Name: documentos_projeto documentos_projeto_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_projeto
    ADD CONSTRAINT documentos_projeto_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: documentos_transacao documentos_transacao_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_transacao
    ADD CONSTRAINT documentos_transacao_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id) ON DELETE CASCADE;


--
-- Name: etapas etapas_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.etapas
    ADD CONSTRAINT etapas_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: extrato_movimentos extrato_movimentos_conta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.extrato_movimentos
    ADD CONSTRAINT extrato_movimentos_conta_id_fkey FOREIGN KEY (conta_id) REFERENCES public.contas_captadoras(id) ON DELETE CASCADE;


--
-- Name: log_matching fk_log_movimento; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_matching
    ADD CONSTRAINT fk_log_movimento FOREIGN KEY (movimento_id) REFERENCES public.extrato_movimentos(id) ON DELETE CASCADE;


--
-- Name: membros_projeto fk_membros_projeto; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membros_projeto
    ADD CONSTRAINT fk_membros_projeto FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: importacoes importacoes_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.importacoes
    ADD CONSTRAINT importacoes_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES auth.users(id);


--
-- Name: importacoes importacoes_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.importacoes
    ADD CONSTRAINT importacoes_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: log_matching log_matching_despesa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_matching
    ADD CONSTRAINT log_matching_despesa_id_fkey FOREIGN KEY (despesa_id) REFERENCES public.despesas(id) ON DELETE CASCADE;


--
-- Name: log_matching log_matching_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.log_matching
    ADD CONSTRAINT log_matching_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id) ON DELETE CASCADE;


--
-- Name: membros_projeto membros_projeto_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.membros_projeto
    ADD CONSTRAINT membros_projeto_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: planilha_revisada planilha_revisada_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planilha_revisada
    ADD CONSTRAINT planilha_revisada_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: regularizacoes regularizacoes_solicitado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regularizacoes
    ADD CONSTRAINT regularizacoes_solicitado_por_fkey FOREIGN KEY (solicitado_por) REFERENCES auth.users(id);


--
-- Name: regularizacoes regularizacoes_transacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.regularizacoes
    ADD CONSTRAINT regularizacoes_transacao_id_fkey FOREIGN KEY (transacao_id) REFERENCES public.transacoes(id) ON DELETE CASCADE;


--
-- Name: rubricas rubricas_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rubricas
    ADD CONSTRAINT rubricas_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: transacoes transacoes_etapa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_etapa_id_fkey FOREIGN KEY (etapa_id) REFERENCES public.etapas(id);


--
-- Name: transacoes transacoes_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: campos_revisao; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.campos_revisao ENABLE ROW LEVEL SECURITY;

--
-- Name: conciliacao_extrato; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.conciliacao_extrato ENABLE ROW LEVEL SECURITY;

--
-- Name: contas_captadoras; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.contas_captadoras ENABLE ROW LEVEL SECURITY;

--
-- Name: despesas; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.despesas ENABLE ROW LEVEL SECURITY;

--
-- Name: documentos_projeto; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.documentos_projeto ENABLE ROW LEVEL SECURITY;

--
-- Name: documentos_transacao; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.documentos_transacao ENABLE ROW LEVEL SECURITY;

--
-- Name: etapas; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.etapas ENABLE ROW LEVEL SECURITY;

--
-- Name: extrato_movimentos; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.extrato_movimentos ENABLE ROW LEVEL SECURITY;

--
-- Name: importacoes; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.importacoes ENABLE ROW LEVEL SECURITY;

--
-- Name: log_matching; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.log_matching ENABLE ROW LEVEL SECURITY;

--
-- Name: membros_projeto; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.membros_projeto ENABLE ROW LEVEL SECURITY;

--
-- Name: campos_revisao p_campos_revisao; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_campos_revisao ON public.campos_revisao USING (((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = campos_revisao.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM public.despesas d
  WHERE ((d.id = campos_revisao.despesa_id) AND public.pode_acessar_projeto(d.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM (public.documentos_transacao dc
     JOIN public.transacoes t ON ((t.id = dc.transacao_id)))
  WHERE ((dc.id = campos_revisao.documento_id) AND public.pode_acessar_projeto(t.projeto_id)))))) WITH CHECK (((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = campos_revisao.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM public.despesas d
  WHERE ((d.id = campos_revisao.despesa_id) AND public.pode_acessar_projeto(d.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM (public.documentos_transacao dc
     JOIN public.transacoes t ON ((t.id = dc.transacao_id)))
  WHERE ((dc.id = campos_revisao.documento_id) AND public.pode_acessar_projeto(t.projeto_id))))));


--
-- Name: conciliacao_extrato p_conciliacao; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_conciliacao ON public.conciliacao_extrato USING ((EXISTS ( SELECT 1
   FROM (public.extrato_movimentos m
     JOIN public.contas_captadoras c ON ((c.id = m.conta_id)))
  WHERE ((m.id = conciliacao_extrato.movimento_id) AND public.pode_acessar_projeto(c.projeto_id))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM (public.extrato_movimentos m
     JOIN public.contas_captadoras c ON ((c.id = m.conta_id)))
  WHERE ((m.id = conciliacao_extrato.movimento_id) AND public.pode_acessar_projeto(c.projeto_id)))));


--
-- Name: contas_captadoras p_contas; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_contas ON public.contas_captadoras USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: despesas p_despesas; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_despesas ON public.despesas USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: documentos_transacao p_documentos; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_documentos ON public.documentos_transacao USING ((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = documentos_transacao.transacao_id) AND public.pode_acessar_projeto(t.projeto_id))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = documentos_transacao.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))));


--
-- Name: documentos_projeto p_documentos_projeto; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_documentos_projeto ON public.documentos_projeto USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: etapas p_etapas; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_etapas ON public.etapas USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: extrato_movimentos p_extrato; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_extrato ON public.extrato_movimentos USING ((EXISTS ( SELECT 1
   FROM public.contas_captadoras c
  WHERE ((c.id = extrato_movimentos.conta_id) AND public.pode_acessar_projeto(c.projeto_id))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.contas_captadoras c
  WHERE ((c.id = extrato_movimentos.conta_id) AND public.pode_acessar_projeto(c.projeto_id)))));


--
-- Name: importacoes p_importacoes; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_importacoes ON public.importacoes USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: log_matching p_log_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_log_insert ON public.log_matching FOR INSERT WITH CHECK (((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = log_matching.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM public.despesas d
  WHERE ((d.id = log_matching.despesa_id) AND public.pode_acessar_projeto(d.projeto_id))))));


--
-- Name: log_matching p_log_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_log_select ON public.log_matching FOR SELECT USING (((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = log_matching.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))) OR (EXISTS ( SELECT 1
   FROM public.despesas d
  WHERE ((d.id = log_matching.despesa_id) AND public.pode_acessar_projeto(d.projeto_id))))));


--
-- Name: membros_projeto p_membros; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_membros ON public.membros_projeto USING (((user_id = auth.uid()) OR public.pode_acessar_projeto(projeto_id))) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: planilha_revisada p_planilha_revisada; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_planilha_revisada ON public.planilha_revisada USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: projetos p_projetos_delete; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_projetos_delete ON public.projetos FOR DELETE USING (public.pode_acessar_projeto(id));


--
-- Name: projetos p_projetos_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_projetos_select ON public.projetos FOR SELECT USING (public.pode_acessar_projeto(id));


--
-- Name: projetos p_projetos_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_projetos_update ON public.projetos FOR UPDATE USING (public.pode_acessar_projeto(id)) WITH CHECK (public.pode_acessar_projeto(id));


--
-- Name: regularizacoes p_regularizacoes; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_regularizacoes ON public.regularizacoes USING ((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = regularizacoes.transacao_id) AND public.pode_acessar_projeto(t.projeto_id))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.transacoes t
  WHERE ((t.id = regularizacoes.transacao_id) AND public.pode_acessar_projeto(t.projeto_id)))));


--
-- Name: rubricas p_rubricas; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_rubricas ON public.rubricas USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: transacoes p_transacoes; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_transacoes ON public.transacoes USING (public.pode_acessar_projeto(projeto_id)) WITH CHECK (public.pode_acessar_projeto(projeto_id));


--
-- Name: planilha_revisada; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.planilha_revisada ENABLE ROW LEVEL SECURITY;

--
-- Name: projetos; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.projetos ENABLE ROW LEVEL SECURITY;

--
-- Name: regularizacoes; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.regularizacoes ENABLE ROW LEVEL SECURITY;

--
-- Name: rubricas; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.rubricas ENABLE ROW LEVEL SECURITY;

--
-- Name: transacoes; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.transacoes ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict 7PQ0wK1t4AWxp3cq16roqEpoRhTbV5N91tSE9cxUj3AD0hmBhmOEQEK9K1dVpzt

